body{  
  font-family: Verdana, sans-serif;
}
.sec1{
  height: auto;
  display: flex;
  background: white;
  align-items: flex-start;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  font-size: 24px;
}
.header-left, .header-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-left img{
  height: 100px;
}
.header-right ul{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}
.signup-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 25px;
}
.signup-text, .signup-pic{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.signup-text{
  max-width: 250px;
}
.signup-text button{
  border-radius: 0.5em;
  font-size: 16px;
  padding: 10px;
  background: chartreuse;
  cursor: pointer; 
}
.signup-pic #wood-fence{
  height: auto;
  width: 250px
}
.sec2{
  height: 300px;
  display: flex;
  background: #45ad4e;
  justify-content: center;
  color:white;
  gap: 50px;
}
.sec2title{
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 25px;
  color: #45ad4e;
  display: flex;
  justify-content: center;
}
.info{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-holder{
  height: 150px;
  width: 100px;
  border-radius: 1em;
  border: 5px solid white;
}
.info .text{
  text-align: center;
  margin-top: 15px;
}


